:root {
  --color-white-1: #fff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Baloo 2', cursive; }

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px; }
  .main-nav-list {
    display: flex;
    flex-wrap: wrap; }
    .main-nav-list a {
      display: flex;
      flex-wrap: wrap;
      font-size: 3rem;
      list-style: none;
      margin-left: 4rem;
      color: var(--color-white-1);
      text-decoration: none; }
      .main-nav-list a:hover, .main-nav-list a:active {
        background-color: rgba(225, 225, 225, 0.8); }

label {
  color: white;
  font-size: 4rem;
  line-height: 70px;
  display: none; }

#toggle {
  display: none; }

@media only screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer; }
  .main-nav-list {
    text-align: center;
    width: 100%;
    display: none; }
  .main-nav-list a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0; }
  #toggle:checked + .main-nav-list {
    display: block; } }

.main-image {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/st-george.jpg");
  background-size: cover;
  height: 97rem; }

/*
.next-page {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
    background-color: white;
    height: 80rem;
    width: 80rem;
} */
.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
  width: auto;
  margin-top: 5%; }
  .main-home-message {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2.75rem; }

.main-textbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 90rem;
  width: auto;
  background-color: white;
  border: 1px solid grey; }
  .main-textbox-welcome {
    margin-top: 5%;
    font-size: 5rem;
    height: 6rem;
    display: flex;
    text-align: center;
    border-bottom: 2px solid #d4bb2c; }
