
:root {
    --color-white-1: #fff;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%  (browser default loads 16px size we want 10px size to scale from)
    font-family: 'Baloo 2', cursive;
}